@font-face {
    font-family: 'FF DIN Round Pro-bold';
    src: url('../fonts/FFDINRoundPro-Bold.eot');
    src: url('../fonts/FFDINRoundPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFDINRoundPro-Bold.woff2') format('woff2'),
        url('../fonts/FFDINRoundPro-Bold.woff') format('woff'),
        url('../fonts/FFDINRoundPro-Bold.ttf') format('truetype'),
        url('../fonts/FFDINRoundPro-Bold.svg#FFDINRoundPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FF DIN Round Pro-medium';
    src: url('../fonts/FFDINRoundPro-Medium.eot');
    src: url('../fonts/FFDINRoundPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFDINRoundPro-Medium.woff2') format('woff2'),
        url('../fonts/FFDINRoundPro-Medium.woff') format('woff'),
        url('../fonts/FFDINRoundPro-Medium.ttf') format('truetype'),
        url('../fonts/FFDINRoundPro-Medium.svg#FFDINRoundPro-Medium') format('svg');
    font-weight: normal;
    /*font-weight: 500;*/
    font-style: normal;
}

@font-face {
    font-family: 'FF DIN Round Pro-light';
    src: url('../fonts/FFDINRoundPro-Light.eot');
    src: url('../fonts/FFDINRoundPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFDINRoundPro-Light.woff2') format('woff2'),
        url('../fonts/FFDINRoundPro-Light.woff') format('woff'),
        url('../fonts/FFDINRoundPro-Light.ttf') format('truetype'),
        url('../fonts/FFDINRoundPro-Light.svg#FFDINRoundPro-Light') format('svg');
    font-weight: normal;
    /*font-weight: 300;*/
    font-style: normal;
}

/*@font-face {
    font-family: 'FF DIN Round Pro';
    src: url('../fonts/FFDINRoundPro-Bold_1.eot');
    src: url('../fonts/FFDINRoundPro-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFDINRoundPro-Bold_1.woff2') format('woff2'),
        url('../fonts/FFDINRoundPro-Bold_1.woff') format('woff'),
        url('../fonts/FFDINRoundPro-Bold_1.ttf') format('truetype'),
        url('../fonts/FFDINRoundPro-Bold_1.svg#FFDINRoundPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}*/

@font-face {
    font-family: 'FF DIN Round Pro-regular';
    src: url('../fonts/FFDINRoundPro-Regular.eot');
    src: url('../fonts/FFDINRoundPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFDINRoundPro-Regular.woff2') format('woff2'),
        url('../fonts/FFDINRoundPro-Regular.woff') format('woff'),
        url('../fonts/FFDINRoundPro-Regular.ttf') format('truetype'),
        url('../fonts/FFDINRoundPro-Regular.svg#FFDINRoundPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF DIN Round Pro-black';
    src: url('../fonts/FFDINRoundPro-Black.eot');
    src: url('../fonts/FFDINRoundPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFDINRoundPro-Black.woff2') format('woff2'),
        url('../fonts/FFDINRoundPro-Black.woff') format('woff'),
        url('../fonts/FFDINRoundPro-Black.ttf') format('truetype'),
        url('../fonts/FFDINRoundPro-Black.svg#FFDINRoundPro-Black') format('svg');
    font-weight: normal;
    /*font-weight: 900;*/
    font-style: normal;
}

